<div *ngIf="spaceProgArr.length >0 ">
    <ng-container *ngFor="let prog of spaceProgArr">
        <div class="matGridDiv secondDiv">
            <div class="imgDiv">
                <img [src]="prog.links.mission_patch_small">
            </div>
            <span>{{prog.mission_name}} # {{prog.flight_number }}</span>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">Mission Ids</div>
                <div class="col-sm-6 col-md-6 col-lg-6">{{prog.mission_id}}</div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">Launch Year:</div>
                <div class="col-sm-6 col-md-6 col-lg-6">{{prog.launch_year}}</div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6"> Successful Launch:</div>
                <div class="col-sm-6 col-md-6 col-lg-6">{{prog.launch_success}}</div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">Successful Landing</div>
                <div class="col-sm-6 col-md-6 col-lg-6">{{prog.launch_landing}}</div>
            </div>
        </div>
    </ng-container>

</div>

<ngx-spinner></ngx-spinner>