<div class="sidePanel">
    <label>Filters</label>
    <div>
        <table>
            <tr>
                <td colspan="2"><label class="filterValues">Launch Year</label></td>
            </tr>
            <tr></tr>
            <tr>
                <td><button (click)="getYear('2006')">2006</button></td>
                <td><button (click)="getYear('2007')">2007</button></td>
            </tr>
            <tr>
                <td><button (click)="getYear('2008')">2008</button></td>
                <td><button (click)="getYear('2009')">2009</button></td>
            </tr>
            <tr>
                <td><button (click)="getYear('2010')">2010</button></td>
                <td><button (click)="getYear('2011')">2011</button></td>
            </tr>
            <tr>
                <td><button (click)="getYear('2012')">2012</button></td>
                <td><button (click)="getYear('2013')">2013</button></td>
            </tr>
            <tr>
                <td><button (click)="getYear('2014')">2014</button></td>
                <td><button (click)="getYear('2015')">2015</button></td>
            </tr>
            <tr>
                <td><button (click)="getYear('2016')">2016</button></td>
                <td><button (click)="getYear('2017')">2017</button></td>
            </tr>
            <tr>
                <td><button (click)="getYear('2018')">2018</button></td>
                <td><button (click)="getYear('2019')">2019</button></td>
            </tr>
            <tr>
                <td><button (click)="getYear('2020')">2020</button></td>
                <td></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="2"><label class="filterValues"> Successful Launch</label></td>

            </tr>
            <tr>
                <td><button (click)="getLaunch('true')">True</button></td>
                <td><button (click)="getLaunch('false')">False</button></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="2"><label class="filterValues">Successful Landing</label></td>
            </tr>
            <tr>
                <td><button (click)="getLand('true')">True</button></td>
                <td><button (click)="getLand('false')">False</button></td>
            </tr>
        </table>
    </div>
</div>